// Add predefined macros for your project here. For example:
// #define THE_ANSWER 42
#define TARGET_I386 1
#define DBG_LLVM_BACKEND 1
#define CONFIG_HAVLICEK 1
#define CONFIG_CONCOLIC 1
#define BCT_RT_DUMP 1
#define CONFIG_LLVM 1
#define DBG_BO_CALL_STACK 1
#define HAVLICEK_TB_GRAPH 1
#define CRETE_DEBUG 1
#define CRETE_CONFIG 1
